@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Cartoon';
  src: url('./assets/fonts/KarenRegular-jEWgl.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --yellow: #FFDD70;
  --pink-light: #FFB4BA;
  --blue-light: #A3D8F4;
  --purple: #7E57C2;
  --navy: #2C2E43;
  --red: #E63946;
  --peach: #F5D3C8;
  --orange: #E39D66;
  --pink-dark: #EAB6C5;
  --green: #A1CDA8;
  
  --outline-color: #444444;
  --white-bg: #E5E5E5;
  --overall-bg: #E7E6D1;
  --dark-bg: #C6C6C6;
}

html {
  font-size: 62.5%;
}


/*-------------body--------------------*/



body {
  background: repeating-linear-gradient(
    0deg,
    var(--outline-color),
    var(--outline-color) 2px,
    rgba(0, 0, 0, 0) 2px,
    rgba(0, 0, 0, 0)  40px
  ), repeating-linear-gradient(
    90deg,
    var(--outline-color),
    var(--outline-color) 2px,
    var(--overall-bg) 2px,
    var(--overall-bg) 40px
  );
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.home {
  display : grid;
  flex-direction: row;
  align-items: self-start;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr;

}

.header {
  grid-column: 1 / 2;
}

.main-container {
  grid-column: 2 / 3;
  align-self: center;
  justify-self: center;
}

/*---------Logo window---------------*/

.logo-window {
  height: 293px;
  width: 345px;
}

.window {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.window-top-bar {
  display: flex;
  height: 38px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 450;
}

.window-button {
  height: 38px;
  width: 38px;
  background-color: var(--dark-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--outline-color);
}

.window-icon {
  height: 30px;
  width: 30px;
  color: var(--outline-color);
}

.window-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--white-bg);
  border: 3px solid var(--outline-color);
  border-left: 0px;
  position: relative;
}

.window-text {
  z-index: 2;
  background-color: var(--white-bg);
  padding-left: 15px;
  padding-right: 15px;
}

.window-text-container::before,
.window-text-container::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  width: 50%;
  background-color: var(--outline-color);
  color: var(--outline-color);
  margin-right: 10px;
  margin-left: 10px;
}

.window-text-container::before {
  left: 0;
}

.window-text-container::after {
  right: 0;
}

.window-content {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 261px;
  width: calc(100% - 6px);
  background-color: var(--white-bg);
  border: 3px solid var(--outline-color);
  border-top: 0px;
  overflow-y: auto;
}


.window-content::-webkit-scrollbar {
  width: 30px;
  background-color: var(--white-bg);
  height: 100px;
  z-index: 1;
  position: fixed;
}

.window-content::-webkit-scrollbar-thumb {
  background-color: var(--dark-bg);
  border-top: 3px solid var(--outline-color);
  border-bottom: 3px solid var(--outline-color);
  border-left: 3px solid var(--outline-color);

}

.window-content-page { 
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
}


.logo-1 img,
.logo-1 h1 {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}

.logo-1 {
  background-color: var(--yellow);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logo-1 h1 {
  font-family: 'Cartoon';
  font-size: 40px;
}

.logo-2 {
  background-color: var(--pink-light);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logo-2 img {
  margin: 20px;
}



.logo-signout {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  font-size: 12px;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.logo-signout button {
  height: 30px;
  width: 60%;
  background-color: var(--overall-bg);
  color: var(--outline-color);
  border: 3px solid var(--outline-color);
  font-weight: 450;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.logo-signout-text {
  margin-top: 20px;
}

.logo-2-upper-row {
  display: flex;
}
.logo-2-upper-row img {
  border-radius: 30%;
  height: 80px;
}

/*-----------discover-window-----------*/

.discover-window {
  height: 700px;
  width: 1300px;
  margin: 52px;
}

.discover-content {
  height: 100%;
}

.discover-content-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.discover-recipe {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.recipe-title {
  font-size: 4rem;
  font-weight: 700;
}

.recipe-servings, .recipe-ing {
  font-size: 2rem;
}

.recipe-button {
  height: 68px;
  width: 230px;
  background-color: var(--overall-bg);
  color: var(--outline-color);
  border: 3px solid var(--outline-color);
  font-size: 3.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 950;
  margin-top: 30px;
  margin-left: 30px;
}

.recipe-button:hover {
  background-color: var(--dark-bg);
}

.recipe-button:active {
  background-color: var(--white-bg);
}


.dialog-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-window {
  position: absolute;
  width: 1100px;
  height: 700px;
  background-color: var(--white-bg);
  display: flex;
  flex-direction: column;
  z-index: 1100;
}

.dialog-top-bar {
  display: flex;
  height: 38px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 450;
  width: 100%;
}

.dialog-button {
  height: 38px;
  width: 38px;
  background-color: var(--dark-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--outline-color);
}

.dialog-icon {
  height: 30px;
  width: 30px;
  color: var(--outline-color);
}

.dialog-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--white-bg);
  border-left: 0px;
  position: relative;
}

.dialog-content {
  flex: 1;
  overflow-y: auto;
  width: calc(100% - 6px);
}

.error-404-window {
  height: 700px;
  width: 900px;
  margin: 100px;
}

.error-404-content {
  background-color: var(--blue-light);
  overflow: hidden;
}

.error-404-content h1 {
  font-family: 'Cartoon';
  font-size: 80px;
  margin: 30px;
}

.superposed-container {
  position: relative;
  width: fit-content;
  display: inline-block;
}

.superposed-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; 
}

.superposed-container img:first-child {
  position: relative;
  rotate: 170deg;
  transform: scale(1.2
  );
  top: 100px;
}

.superposed-container img:last-child {
  transform: scale(0.5) translateY(-400px);
}
